<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">
<head>
    <title>CineStream | Movies</title>
</head>
<body>
<section class="bg-black text-white">
    <div th:replace="fragments/navbar :: body"></div>

    <main class="p-8">
        <div>
            <h1 class="text-center text-8xl mb-8">Movies</h1>
        </div>

        <div th:if="${movies != null and !#lists.isEmpty(movies)}"
             class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">

            <th:block th:each="movie : ${movies}">
                <a th:href="@{/movies/{id}(id=${movie.id})}">
                    <div th:replace="fragments/media-card :: mediaCard(
                 ${movie.title},
                 ${movie.poster},
                 'MOVIE',
                 ${avgByMovieId[movie.id]}
                 )">
                    </div>
                </a>
            </th:block>

        </div>

        <div th:if="${movies == null or #lists.isEmpty(movies)}"
             class="text-center text-gray-400 mt-10">
            <p>No movies found 🎬</p>
        </div>
    </main>


    <div th:replace="fragments/footer :: body"></div>

</section>
</body>
</html>